<div class="container">
    <h1>Logovanje</h1>
    <form (ngSubmit)="login()">
        <div>
            <label for="validationCustom01" class="form-label">Username</label>
            <input type="text" class="form-control" id="validationCustom01" required name="username"
                [(ngModel)]="username">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div>
            <label for="validationCustom02" class="form-label">Password</label>
            <input type="password" class="form-control" id="validationCustom02" required name="password"
                [(ngModel)]="password">
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-12">
            <button style="margin-top: 2%;" class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
</div>